/*navbar*/
:root {
    --letterSpacing: 1px;
    --grey-900: #0f172a;
    --grey-500: #64748b;
    --transition: 0.3s ease-in-out all;
    --primary-500: #645cff;
    --black: #222;
    --white: #fff;
    --borderRadius: 0.25rem;
    --grey-700: #334155;
    --grey-600: #475569;
    --grey-300: #cbd5e1;


}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: blue; */
    border: 2px solid red;
}

.nav-center {
    /* background: red; */
    width: 90vw;
    max-width: var(--max-width);
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    width: 200px;
}

.nav-btn {
    padding: 0.15rem 0.75rem;
}

.nav-btn i {
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 310px;
}

.nav-link {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey-900);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary-500);
}

.contact-link a {
    padding: 0.15rem 1rem;
}

.nav-logo {
    /* background: red; */
    align-items: center;
    display: flex;
}

@media screen and (min-width: 992px) {
    .nav-btn {
        display: none;
    }

    .navbar {
        height: 6rem;
    }

    .nav-center {
        display: flex;
        align-items: center;
    }

    .nav-header {
        height: auto;
        margin-right: 2rem;
    }

    .nav-links {
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;

    }

    .contact-link {
        margin-left: auto;
        margin-right: 0;
    }
}

/* page  */
.page {
    /* background: red; */
    min-height: calc(100vh - (6rem + 4rem));
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    /* border: 2px solid green; */

}

/* footer */
.page-footer {
    background: var(--black);
    height: 4rem;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}

.page-footer p {
    margin-bottom: 0;
}

.footer-logo,
.page-footer a {
    color: var(--primary-500);


}


/* hero  53.58dk */
.hero {
    height: 40vh;
    background: yellow;
    margin-bottom: 2rem;
    border-radius: var(--borderRadius);
    position: relative;


}

.hero-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    color: var(--white);
}
@media screen and (min-width: 768px){
    .hero-text h1{
        font-size: 4rem;
        margin-bottom: 0;
        /*55:09*/
    }
}

/*recipes*/
.recipes-container{
    display: grid;
    gap: 2rem 1rem;
    
}
.tags-container{
    
    order: 1; /*order nedir?*/
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.recipes-list{
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    
}
.tags-container h4{
    margin-bottom: 0.5rem;
    font-weight: 500;

}
.tags-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a{
    text-transform: capitalize;
    display: block;
    color: var(--grey-500);
    transition: var(--transition);


}
.tags-list a:hover{
    color: var(--primary-500);

}
.recipe{
    display: block;
}
.recipe-img{
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;

}
.recipe h5{
    margin-bottom: 0;
    line-height: 1;
    color: var(--grey-700);

}
.recipe p{
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: var(--grey-500);
    letter-spacing: var(--letterSpacing);

}
@media screen and (min-width: 576px) {
    .recipes-list{
        grid-template-columns: 1fr 1fr;

    }
    .recipe-img{
        height: 10rem;

    }
}
@media screen and (min-width: 992px) {
    .recipes-container{
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }
    .recipes-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipe p{
        font-size: 0.85rem;
    }
    .tags-container{
        order: 0;
    }
    .tags-list{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1200px) {
    .recipe h5{

    }
    .recipes-list{

    }
}
/*error page*/
.error-page{
    text-align: center;
    padding-top: 5rem;
}
.error-page h1{
    font-size: 9rem;
    
}
/*about page*/
.featured-title{
    text-align: center;
    
}
.about-page h2{
    text-transform: none;
    font-weight: bold;
}
.about-page{
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
}
.about-img{
    border-radius: var(--borderRadius);
    height: 300px;
}
@media screen and (min-width: 992px){
    .about-page{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
       /*  align-items: center; */
    }
    .about-img{
        height: 100%;/***/
    }
}
/*contact page*/
.contact-form{
    width: 100%;
    margin: 0;
}
.contact-container{
    display: grid;
    gap: 2rem 3rem;
    padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
    .contact-container{
        grid-template-columns: 1fr 450px;
        align-items: center;
    }
}
/*tags*/

.tags-wrapper{
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;

}
.tag{
    background: var(--grey-500);
    border-radius: var(--borderRadius);
    text-align: center;
    color: var(--white);
    transition: var(--transition);
    padding: 0.75rem 0;
}
.tag:hover{
    background: var(--primary-500);
}
.tag h5, .tag p{
    margin-bottom: 0;

}
.tag h5{
    font-weight: 600;
}
@media screen and (min-width: 576px) {
    .tags-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .tags-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
.recipe-hero{
    display:grid;
    gap: 3rem;
}
.recipe-hero-img{
    height: 300px;
    border-radius: var(--borderRadius);
}
.recipe-hero p{
    color: var(--grey-600); /*600 yap*/


}
.recipe-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}
.recipe-icons i{
    font-size: 1.5rem;
    color: var(--primary-500);
}
.recipe-icons h5, .recipe-icons p{
    margin-bottom: 0;
    font-size: 0.85rem;

}
.recipe-icons p{
    color: var(--grey-600);
}
.recipe-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.7em;
    font-weight: 600;
}
.recipe-tags a{
    background: var(--primary-500);
     padding: 0.05rem 0.5rem; 
    margin: 0 0.25rem;
    border-radius: var(--borderRadius);
    color: var(--white);
    text-transform: capitalize;
}

@media screen and (min-width: 992px){
    .recipe-hero{
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
}
.recipe-content{
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;
}
@media screen and (min-width: 992px){
    .recipe-content{
        grid-template-columns: 2fr 1fr;
    }
}
.single-instruction header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
}
.single-instruction header p {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--primary-500);
}
.single-instruction > p{
    color: var(--grey-700);
}
.single-instruction header div{
    background: var(--grey-300); /*300 yap*/
    height: 2px;
}
.second-column{
    display: grid;
    row-gap: 2rem;
}
.single-ingredient{
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--grey-700);
}
.single-tool{
    border-bottom: 2px solid var(--grey-300);
    padding-bottom: 0.75rem;
    color: var(--primary-500);
    text-transform: capitalize;
}
